<mat-card>
    <div class="bar">
      <mat-progress-bar *ngIf="bar" mode="indeterminate"></mat-progress-bar>
    </div>
    <mat-card-content>
      <div class="header">
        <img class="logo" src="../../../favicon.ico" alt="">
        <h2>{{title}}</h2>
      </div>


      <form *ngIf="side=='login'" (ngSubmit)="loginSubmit()" name="loginForm" [formGroup]="loginForm">
        <div class="emailInput">
          <mat-form-field class="full-width my-2" appearance="outline">
            <mat-label>Phone</mat-label>
            <input formControlName="phone" matInput placeholder="Enter phone number" required />
            <mat-error *ngIf="!loginForm.controls['phone'].valid">
              phone number is required
            </mat-error>
          </mat-form-field>
        </div>
  
        <div>
          <mat-form-field class="full-width my-2" appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
              [attr.aria-pressed]="hide">
              <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </button>
            <mat-error *ngIf="!loginForm.controls['password'].valid">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <p *ngIf="errorMsg" style="color: red;">{{errorMsg+"!"}}</p>
        <button class="submit my-2" mat-raised-button color="accent"  type="submit">{{title}}</button>
      </form>

      <div *ngIf="link" class="button-row">
       <span>Already Registered </span>
        <a routerLink="{{link}}" class="link">Login</a>
      </div>


    </mat-card-content>
  </mat-card>
